.mat-headline {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.mat-icon {
  margin: 10px 10px 5px 0;
  font-size: 30px;
  height: 30px;
  vertical-align: bottom;
}

#newTaskBtn{
  width: 200px;
  height: 40px;
  font-size: large;
}

.mat-divider{
  margin: 10px 0 10px 0;
}
