.mat-headline {
  margin: 5vh 0 5vh 5vw;
}
.mat-icon {
  margin-right: 10px;
  font-size: 20px;
  height: 20px;
  vertical-align: center;
}
.example-card{
  min-width: 300px
}

/*.mat-grid-tile{*/
/*  background-color: #1da851;*/
/*}*/

.image-placeholder{
margin-bottom: 25px;
margin-top: 30px !important;
}

.center-bold{
  font-weight: bold;
  text-align: center;
  font-size: large;
}

.name{
  font-size: x-large;
  margin-bottom: 20px;
}

.mat-card-actions{
  text-align: center;
}

.country{
  margin-top: 15px !important;
}
