@import "~@angular/material/theming";

@mixin custom-component-light-theme($theme) {
  $custom-background-color: #628cc9;
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

}
