@import "~@angular/material/theming";

@mixin custom-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);


  //.mat-card{
  //  background-color: mat-color($accent);
  //}
  //
  .article-provider {
    color: mat-color($primary);
  }

  app-category-item {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-card {
      padding: 1px 10px 1px 10px;
    }
  }
}
