<div class="app-{{appId}}-theme container"  style="height: 100vh">

  <ng-template appPlaceholder></ng-template>
    <mat-spinner *ngIf="isLoading" style="margin:30vh auto auto auto;"></mat-spinner>


  <div *ngIf="!isLoading"
    class="mat-headline col-xs-12 col-md-10 col-md-offset-1"
  >
    <mat-icon> vpn_key</mat-icon>
    User Login
  </div>


  <form [formGroup]='authForm' (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="row">
      <mat-form-field appearance="fill" class="col-xs-12 col-md-4">
        <mat-label>Enter your email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               formControlName="email"
        >
        <mat-error>{{getErrorMessage('email')}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-xs-12 col-md-4">
        <mat-label>Enter password</mat-label>
        <input matInput
               placeholder="password"
               formControlName="password"
        >
        <mat-error>{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>

      <div style="display: block;" class="col-xs-12 col-md-4">
        <button mat-raised-button style="margin: 5px"
                type="submit"
                color="primary">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>

        <a mat-button
           (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</a>
      </div>
    </div>
  </form>

</div>

