.catBtn{
  width:40px !important;
  height:40px !important;
  margin: 10px 5px auto 5px;
}

.mat-raised-button{
  min-width: 40px;
  padding: 0;
}

.mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

.small-padding{
  padding:1px !important;
}

.alert-checkbox{
  padding: 10px 1px 10px 1px;
}

.mat-card{
  padding: 5px 15px 5px 15px;
  font-weight: bold;
}
input{
  font-weight: bold;
}
