@import '../themes/social-buttons.styles.css';

.mat-headline {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.mat-icon {
  margin: 10px;
  font-size: 20px;
  height: 20px;
}
img {
  vertical-align: center;
  max-height: 150px;
  max-width: 150px;
  padding: 3px;
}
.article-provider{
  font-weight: bold;
}
.article-name{
  line-height: 1.5;
  font-weight: bold;
  font-family: Source Sans Pro,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}
.article-content{
  line-height: 1.5;
  font-family: Source Sans Pro,system-ui,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.example-card{
  padding: 30px;
}
