.mat-headline {
  margin: 5vh 0 5vh 5vw;
}
.mat-icon {
  margin-right: 10px;
  font-size: 20px;
  height: 20px;
  vertical-align: center;
}

mat-divider{
  margin: 20px 5vw 20px 5vw;
}

.posts-headline {
  vertical-align: bottom;
}

mat-slide-toggle{
  margin: 20px 0 0 10px
}

.small-padding{
  padding:1px !important;
}

